
.login-body
{
    margin: 0;
    padding: 0;
    background-color:#EADCD1;
    font-family: 'Open Sans';
}

.login-title{
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif
}

.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #CDD2C4;
        border-radius: 15px ;
        font-family: 'Open Sans'

}
.login-h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
.login-username{
    color: black;
    font-size: 18px;
    text-align: center;
    font-family: 'Open Sans'
}

.login-Password{
  color: black;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans'
}

#Username{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    font-size: 10px
    font-family: 'Open Sans'
}
#Pass{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  font-size: 10px
  font-family: 'Open Sans'

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: black;
    font-family: 'Open Sans'


}
/*span{
    color: white;
    font-size: 17px;
}*/
.login-link {
    float: right;
    background-color: grey;
}

/* HOMEPAGE */

.nav-list {
    list-style: none;

}

.nav-link {
    text-decoration: none;
}

.home__nav {
    display: flex;
    width: 100%;

}


.home__hero {
    width: 100%;
}
